#APP
spring.application.name=elements-manager-app
spring.config.import=optional:file:.env

#DB
spring.datasource.url=jdbc:mysql://${DB_HOST}:${DB_PORT}/${DB_NAME}
spring.datasource.username=${DB_USER}
spring.datasource.password=${DB_PASSWORD}
spring.datasource.driver-class-name=com.mysql.cj.jdbc.Driver
spring.jpa.show-sql=true
spring.jpa.database-platform=org.hibernate.dialect.MySQLDialect
spring.jpa.hibernate.ddl-auto=create-drop

#JSON WEB TOKEN
jwt.login.expiration-time=${JWT_LOGIN_EXP_TIME}
jwt.refresh.expiration-time=${JWT_REFRESH_EXP_TIME}
jwt.secret.key=${JWT_SECRET_KEY}

#TOKEN
activate-account-token.expiration-time=${ACTIVATE_ACCOUNT_TOKEN_EXP_TIME}
reset-password-token-expiration-time=${RESET_PASSWORD_TOKEN_EXP_TIME}

#SMTP
spring.mail.host=${MAIL_HOST}
spring.mail.port=${MAIL_PORT}
spring.mail.username=${MAIL_USERNAME}
spring.mail.password=${MAIL_PASSWORD}
spring.mail.protocol=smtp
spring.mail.properties.mail.smtp.auth=true
spring.mail.properties.mail.smtp.starttls.enable=true
